*{
    padding: 0;
    margin: 0;
}

.parent{
    width: 900px;
    height: 500px;
    background-color: rgb(245, 245, 245);
    border: 1px solid gray;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -450px;
}
/** start welcome */
.parent .welcome{
    width: 50%;
    height: 500px;
    background-color: rgb(221, 81, 81);
    float: right;
}

.parent .welcome .welcome-content {
    width: 250px;
    height: 150px;
    text-align: center;
    margin: 162px auto 0px auto;
}    
.parent .welcome .welcome-content h2{
    color: white;
}

.parent .welcome .welcome-content p{
    color: white;
    font-family: 'Times New Roman', Times, sans-serif;
    position: initial;
    margin-right: 40px;

}
.parent .welcome .welcome-content button{
    width: 90%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(221, 81, 81);
    margin-top: 30px;
}
.parent .welcome .welcome-content button:hover {
    background-color: gray;
}
/**end welcome */

/**start login **/
.parent .login{
    width: 50%;
    height: 500px;
    background-color: white;

}
.parent .login .login-content {
    width: 90%;
    height: 500px;
    padding: 20px;
    padding-top: 25px;
}

h3{
    float: left;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style-type:none;
    display: inline-flex;
    float: right;
}
.fa-facebook:hover{
    background-color: gray;
}
.fa-instagram:hover{
    background-color: gray;
}
form{
    width: 360px;
    border: 1px solid black;
    margin-top: 50px;
    padding: 20px;
    float: right;

}
h4{
    font-family: 'Times New Roman', Times, sans-serif;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(221, 81, 81);
  }
 input[type=submit]:hover{
    background-color: gray;
  }
  .checkbox{
    float: left;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, sans-serif;
    color: rgb(221, 81, 81);

  }
  
p{
    float: right;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, sans-serif;

}
/**end login**/
  
